/* #region Common */
body{
  font-family: "Roboto", sans-serif;
  color:#434455;
  background-color:  #fff;
}
ul, 
ol
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a
{
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6,
p
{
  margin: 0;
}
img
{
  display: block;
  max-width: 100%;
  height: auto;
}
.container 
{ 
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
/* #endregion Main */
/* #region Header */
.header-page{
  border-bottom: 1px solid #e7e9fc;
}
.header-container{
  display: flex;
  align-items: center;
}
.page-nav{
  display: flex;
  align-items: center;
}
.logo
{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.page-logo{
  padding: 24px 0;
  margin-right: 76px;
}
.page-logo .logo-part
{
color:#2e2f42;
} 
.nav-list
{
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-link
 {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  }
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus
{
color: #404bbf;
}
.contacts-list{
  display: flex;
  align-items: center; 
  gap: 40px;
}
.contacts
{
font-style:normal; 
margin-left: auto; 
}
.contacts-link 
{
display: block;
padding: 24px 0;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
/* #endregion Header */
/* #region Hero-Main title */
.section-hero
{
  background-image: linear-gradient( to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7))
  url();
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color:#2e2f42; 
  color: #fff;
  padding: 188px 0 
}
.container-hero
{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 282px;
  padding-right: 282px;
}
.hero-title 
{
  max-width: 496px;
  height: auto;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  margin: auto;
  margin-bottom: 48px;
}
.hero-button
{
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  background-color: #4d5ae5;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.hero-button:hover,
.hero-button:focus
{
  background-color: #404BBF
}
/* #endregion Hero-Main title */
/* #region Feature */
.section-feature {
  background-color: #fff;
  color: #2e2f42;
  padding: 120px 0;
  }
.container-feature{
  display: flex;
  align-items: center;
  border: 0.2px;
}
.visually-hidden 
{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.feature-list{
  display: flex;
  align-items: center;
  gap: 24px;
  }
.feature-title
{
 font-weight: 500;
 font-size: 20px;
 line-height: 1.2;
 letter-spacing: 0.02em;
 color: #2E2F42;
 margin-bottom: 8px;
}
.feature-text
{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.feature-item{
  box-sizing: border-box;
  display: list-item;
  width: calc((100% - 72px) / 4);
  }

  /* #endregion Feature */
/* #region Our team */
.section-team
{
  background-color: #f4f4fd;
  padding: 120px 0;
}
.container-team
{

}
.team-page
{
  font-weight: 700;
  font-size: 36px; 
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin: 0 auto;
  margin-bottom: 72px;
}
.team-list
{
  display: flex;
  align-items: center;
  gap: 24px;
}
.team-item
{
  background-color: #fff;
  display: block;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px; 
}
.team-name
{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
} 
.team-profession
{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.team-block
{
  padding: 32px 0 
}
/* #endregion Our team */
/* #region Portfolio */
.section-portfolio
{
  padding-top: 120px;
  padding-bottom: 120px;
  }
.portfolio-list
{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-page
{
  font-weight: 700;
  font-size: 36px; 
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-title
{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;  
  text-transform: capitalize;
  text-align: left;
  margin-bottom: 8px;
}
.portfolio-item
{
  width: calc((100% - 48px) / 3); 
}
.portfolio-block
{
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
   } 
.portfolio-text
{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455; 
  text-align: left;
}
/* #endregion Portfolio */
/* #region Footer */
.page-footer
{
background-color: #2e2f42;
padding: 100px 0;
}
.container-footer
{
  
}
.footer-logo .logo-part
{
color: #f4f4fd;
} 
.footer-logo
{
  display: inline-block;
  margin-bottom: 16px;
  }
.footer-text
{
  font-size: 16px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
 /* #endregion Footer */